<div>
  Your active games
  <div class="column">
    <div class="col-xs-20">
      <hr>
      <ul class="list-group">
        <a
          class="list-group-item"
          style="cursor: pointer"
          *ngFor="let game of openGames; let i = index"
          (click)="onSelect(i)"
        >
          White: {{ game.userOne.fullName }} --- 
          Black: {{ game.userTwo.fullName }} --- 
          Move: {{ game.lastMoveId }} --- 
          Next: {{ game.nextMove }}
          <span *ngIf="amINext(game)"> --- Your Move!</span>
        </a>
      </ul>
    </div>
  </div>
</div>