<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>        
<div *ngIf="!isLoading">
  Your active games
  <div class="column">
    <div class="col-xs-20">
      <hr>
      <ul class="list-group">
        <a
          class="list-group-item"
          style="cursor: pointer"
          *ngFor="let game of openGames; let i = index"
          (click)="onSelect(i)"
        >
          White: {{ game.userOne.fullName }} --- 
          Black: {{ game.userTwo.fullName }} --- 
          Move: {{ game.lastMoveId }} --- 
          Next: {{ game.nextMove }}
          <span *ngIf="amINext(game)"> --- Your Move!</span>
        </a>
      </ul>
    </div>
  </div>
  <br>
  -------------------------------------
  <br>
  Your closed games
  <br>
  <div class="column">
    <div class="col-xs-20">
      <hr>
      <ul class="list-group">
        <a
          class="list-group-item"
          style="cursor: pointer"
          *ngFor="let game of closedGames; let i = index"
          (click)="onSelectClosed(i)"
        >
          White: {{ game.userOne.fullName }} --- 
          Black: {{ game.userTwo.fullName }} --- 
          Result: {{ game.result }}

        </a>
      </ul>
    </div>
  </div>

</div>

<jw-modal id="end-of-game-modal">
  <h3> {{ endOfGame.result }} </h3>    
</jw-modal>