
This is a classic (western style) chess-game platform, where you can play chess with your friends. 
<br>
There are two built-in chess-bot, with very low A.I. (they move rather random)
<br>
<hr>
<strong>Used technologies:</strong>
<br>
<strong>Backend:</strong>
    <br>
    - Java 11
    <br>
    - Java Spring Boot (Core, Data, Security, MVC)
    <br>
    - PostrgreSQL
    <br>
    - Hibernate/JPA & QueryDSL
    <br>
    - Tomcat
    <br>
    - JUnit
    <br>
    - Jackson    


<br>
<br>

<a href="https://github.com/udvarid/donchess_ver2" target="_blank">Backend - Github link</a>

<hr>

<strong>Frontend:</strong>
    <br>
    - Angular 8

<br>
<br>    

<a href="https://github.com/udvarid/donchess_ver2FE" target="_blank">Frontend - Github link</a>

      