<div class="column">
    <div class="col-xs-5">
        <!-- FIXME erre esetleg külön kis komponenst csinálni -->
        <hr>
        <p>My Challenges</p>
        <ul class="list-group">
        <a
            class="list-group-item"
            style="cursor: pointer"
            *ngFor="let challenge of myChallenges; let i = index"            
        >
            {{ challenge.challengerName }} ------- {{ challenge.challengedName }}
            <button type="button" (click)="onDeleteMyChallenge(i)">Delete</button>
        </a>
        </ul>
        <hr>
        <p>Free Challenges</p>
        <ul class="list-group">
        <a
            class="list-group-item"
            style="cursor: pointer"
            *ngFor="let challenge of freeChallenges; let i = index"            
            (click)="onAcceptFreeChallenge(i)"
        >
            {{ challenge.challengerName }} 
        </a>
        </ul>
        <hr>
        <p>Challenges on me</p>
        <ul class="list-group">
        <a
            class="list-group-item"
            style="cursor: pointer"
            *ngFor="let challenge of challengesOnMe; let i = index"            
            (click)="onAcceptAimedChallenge(i)"
        >
            {{ challenge.challengerName }} ------- {{ challenge.challengedName }}
            <button type="button" (click)="onDeclineChallenge(i)">Decline</button>
        </a>
        </ul>

        <button type="button" (click)="onCreateFreeChallenge()">Create free challenge</button>

    </div>
</div>