<div class="column">
    <div class="col-xs-5">
        <!-- FIXME erre esetleg külön kis komponenst csinálni -->
        <hr>
        <p>My Challenges</p>
        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>        
        <ul class="list-group" *ngIf="!isLoading">
        <a
            class="list-group-item"
            style="cursor: pointer"
            *ngFor="let challenge of myChallenges; let i = index"            
        >
            {{ challenge.challengerName }} ------- {{ challenge.challengedName }}
            <button type="button" (click)="onDeleteMyChallenge(i)">Delete</button>
        </a>
        </ul>

        <hr>
        <p>Free Challenges</p>
        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>            
        <ul class="list-group" *ngIf="!isLoading">
        <a
            class="list-group-item"
            style="cursor: pointer"
            *ngFor="let challenge of freeChallenges; let i = index"            
        >
            {{ challenge.challengerName }} 
            <button type="button" (click)="onAcceptFreeChallenge(i)">Accept</button>
        </a>
        </ul>

        <hr>
        <p>Challenges on me</p>
        <div *ngIf="isLoading" style="text-align: center;">
            <app-loading-spinner></app-loading-spinner>
        </div>            
        <ul class="list-group" *ngIf="!isLoading">
        <a
            class="list-group-item"
            style="cursor: pointer"
            *ngFor="let challenge of challengesOnMe; let i = index"            
        >
            {{ challenge.challengerName }} ------- {{ challenge.challengedName }}
            <button type="button" (click)="onAcceptAimedChallenge(i)">Accept</button>
            <button type="button" (click)="onDeclineChallenge(i)">Decline</button>
        </a>
        </ul>

        <button type="button" (click)="onCreateFreeChallenge()">Create free challenge</button>

    </div>
</div>