<strong>Challenges</strong>
<div *ngIf="isLoading" style="text-align: center;">
    <app-loading-spinner></app-loading-spinner>
</div>        
<div class="column" *ngIf="!isLoading">
    <div class="col-md-9">
        
        <em *ngIf="myChallenges.length > 0"> <hr> My challenges</em>        
        
        <ul class="list-group">
            <a
                class="list-group-item challenge-mine"
                style="cursor: pointer"
                *ngFor="let challenge of myChallenges; let i = index"            
            >
                <span class="col-md-9">
                    {{ i }}. challenge. Challenged: {{ challenge.challengedName ? challenge.challengedName : "free" }}
                </span>
                
                <button type="button" class="btn btn-danger" (click)="onDeleteMyChallenge(i)">Delete</button>
            </a>
        </ul>
    
        <em *ngIf="freeChallenges.length > 0"> <hr> Free challenges to accept</em>        
        
        <ul class="list-group">
        <a
            class="list-group-item challenge-free"
            style="cursor: pointer"
            *ngFor="let challenge of freeChallenges; let i = index"            
        >
            <span class="col-md-9">
                {{ i }}. free challenge. Challenger: {{ challenge.challengerName }} 
            </span>
            
            <button type="button" class="btn btn-success" (click)="onAcceptFreeChallenge(i)">Accept</button>
        </a>
        </ul>

        
        <em *ngIf="challengesOnMe.length > 0"> <hr> Challenges on me</em>        
        
        <ul class="list-group">
        <a
            class="list-group-item challenge-onme"
            style="cursor: pointer"
            *ngFor="let challenge of challengesOnMe; let i = index"            
        >
            <span class="col-md-8">
                {{ i }}. challenge. Challenger:  {{ challenge.challengerName }} 
            </span>

            <button type="button" class="btn btn-success" (click)="onAcceptAimedChallenge(i)">Accept</button>
            <button type="button" class="btn btn-warning" (click)="onDeclineChallenge(i)">Decline</button>

        </a>
        </ul>
        <hr>

        <button type="button" class="btn btn-info" (click)="onCreateFreeChallenge()">Create free challenge</button>

    </div>
</div>